{% extends 'base.twig' %}

{% block main %}
    <h1>{{ 'Features'|trans }}</h1>
    <p>Jug is a Symfony console application that turns Twig templates into straight HTML. On top of that, it does the following:</p>
    <h3>Twig powered</h3>
    <p>Since the templates are built in Twig, you get access to blocks, includes and macros. Build reusable snippets and use them everywhere throughout your project.</p>
    <p>You also get access to <a href="https://twig.symfony.com/doc/3.x/filters/index.html">all the default filters</a>.</p>
    <h3>Multi-lang ready</h3>
    <p>Jug includes the <code>symfony/translations</code> package, which means the <code>|trans</code> filter is available.</p>
    <p>If multiple locales are configured, you'll get a version of your site in each locale.</p>
    <h3>Cache friendly</h3>
    <p>Jug adds a build-specific hash to all your assets for easy cache-busting on deploy. This means you can aggressively cache those static assets in your webserver config for top-notch performance.</p>
    <h3>Optimized images</h3>
    <p>Install optipng and jpegoptim on your local system and both will be used on all images when you build your site.</p>
    <figure>
        <img src="{{ asset('assets/images/monkeys.jpg') }}" alt="monkeys"/>
        <figcaption>I'm {{ asset('assets/images/monkeys.jpg') }}, and I'm suffixed with a hash for easy cache-busting.</figcaption>
    </figure>
    <h3>Dead simple PHP configuration</h3>
    <p>Manage config, settings and other variables in <code>config/jug.php</code>. The content of the entire array will be passed to all your Twig templates.</p>
        {{ highlight("
<?php

return [
    'default_locale' => 'en',
    'locales' => [
        'en',
    ],
    'hash' => bin2hex(random_bytes(4)),
    'year' => (new DateTime('now'))->format('Y')
];
") }}
    <h3>Markdown</h3>
    <p>Use the markdown Twig filter to parse content as markdown:</p>
    <code>'some **markdown** content'|markdown</code>
    <p>Or use the Twig apply block to transform entire blocks:</p>
    <code class="block">
{{ '{% apply markdown %}' }}
# More markdown!

Wow!
    * a list
    * more lists
{{ '{% endapply %}' }}
    </code>
    <h3>Watch command for easy development</h3>
    <p>Running <code>./vendor/bin/jug watch</code> will watch the files in the source folder and build your site every time you make a change.</p>
    <p>You can find more in-depth examples on the <a href="demo/index.html">demo page</a>.</p>
{% endblock %}
