{% extends 'base.twig' %}

{% block main %}
  <h1>Hyaku-meizan<sup><a id="fnref:R" rel=footnote href=#fn:R>1</a></sup></h1>
  <p>I decided to travel to Japan and ride my bike from the southern cape Sata to the northernmost point in Japan, Cape Soya. It took me 2 months to complete the 4300km ride. I wish I had taken more pictures from the people I met along the way, but it often felt intrusive to take out my phone so this page is mostly photos from the national parks and roads I rode on.<p>
  <p>If you ever decide to visit Japan, these places are all great: Sapporo, Aso-Kuju national park, all of Skikoku if you're by bike or hiking the temple pilgrimage, Aomori, Tottori, Omine-san/Nara mountains, Ise-Shima, Fujiyoshida, Bandai Asahi national park, Matsumoto, Nagasaki, Osore-san, Shiretoko, Osaka, all of Hokkaido.</p>
<img loading="lazy" src="{{ asset('assets/images/japan/1.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/2.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/3.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/4.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/5.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/6.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/7.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/8.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/9.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/10.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/11.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/12.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/13.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/14.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/15.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/21.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/24.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/25.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/26.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/27.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/28.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/30.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/31.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/32.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/33.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/34.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/35.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/36.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/37.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/38.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/39.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/40.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/41.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/42.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/43.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/45.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/46.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/47.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/48.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/49.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/51.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/52.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/53.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/54.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/55.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/56.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/57.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/58.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/59.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/60.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/61.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/62.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/63.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/64.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/65.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/68.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/69.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/70.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/71.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/73.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/74.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/76.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/77.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/78.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/79.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/80.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/82.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/83.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/84.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/85.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/86.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/87.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/88.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/89.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/90.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/91.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/92.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/93.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/94.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/95.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/96.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/97.jpg') }}" alt=""/>
<img loading="lazy" src="{{ asset('assets/images/japan/98.jpg') }}" alt=""/>
<hr>
<ol>
  <li id=fn:R>I was inspired by <a href="https://en.wikipedia.org/wiki/100_Famous_Japanese_Mountains">this book</a> I found in a thrift store. I ended up climbing only 20-ish mountains due to closures, snow and lack of gear.<a class=footnote-return href=#fnref:R><sup>[return]</sup></a></li>
</ol>

{% endblock %}